/*** common ***/
$standard-font-size: 16px;
$background-color: #58a7b4;
$background-color2: #ecf0f1;


* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: $standard-font-size;
}
/*** navigation ***/
nav {
  width: 100%;
  background: $background-color;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;}

  p{
    padding-left: 20px;
    padding-top: 15px;
  }

  .button {
    height: 40px;
    min-width: 120px;
    border-radius: 20px;
    margin: 5px;
    border: 0;
    color: #ecf0f1;
    background-color: #000000;
  }
/*** score table ***/
.table>tbody>tr>td
 {
  border-top: 0;
}

.modal-title{
  font-size: $standard-font-size*2;
}
.modal-body{
  background-color: $background-color2;
}
.modal-header {
  background-color: $background-color;
}
.modal-footer{
  background-color: $background-color;
}
/*** game content ***/
.game-container {
  color: whitesmoke;
  width: 100%;
  height: 87vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/autumboard.jpg");
}

/*** footer ***/
footer {
  width: 100%;
  background: $background-color;
  display: flex;
  justify-content: center;
  p {
    text-align: center;
    font-size: 0.8em;
  }
}

/***media***/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
  nav {
    flex-direction: row;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  nav {
    flex-direction: row;
  }
}