
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */